@import 'tailwindcss';

:root {
  --primary-color: #9987e5;
  --background-color: #040309;
  --text-color: #efeef7;
  --secondary-color: #27108a;
  --accent-color: #542ef8;
}
@theme {
  --color-primary: var(--primary-color);
  --color-background: var(--background-color);
  --color-text: var(--text-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
}
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010e07;
  color: #d5fcea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.home-container {
  display: flex;
  gap: 10px;
}
@utility bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@utility animate-float-glow {
  animation: float-glow ease-in-out infinite;
}

@keyframes float-glow {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate(10px, 10px) scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}
